@import '../abstract/variables';

.footer{
    background-color: $light-green;
    text-align: center;
    padding-top: $space * 6.5;
    
    nav{
       
        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            gap: $space *4;
            padding-top: $space * 3;
            padding-bottom: $space * 6;

            a{
                text-decoration: none;
                font-size: $text-size-200;
                font-family: $text-family-secundary;
                color: $dark-green;
                
            }
        }
    }

    picture{
        display: flex;
        justify-content: space-between;
        padding-inline: $space * 15;
        padding-bottom: $space * 10;
       
    }
}


@media(min-width:800px){
.footer{
    nav{
        ul{
            a{
                font-size: $text-size-300;
            }
        }
    }
    picture{
        padding-inline: $space * 70;
    }
}

}