@import '../abstract/variables';

.hero{
    background: url(../assets/mobile/image-header-mobile.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    background-position: center;
    text-align: center;

    h1{
        font-size: $text-size-400;
        color: $white;
        padding-top: $space * 21.375;
        font-family: $text-family-primary;

    }
    svg{
        margin-top: $space * 12.25; 
    }
}

@media (min-width:800px){
    .hero{
        background: url(../assets/desktop/image-header.jpg) no-repeat;
        background-position: top center;
        
        h1{
            font-size: $text-size-600;
        }

        svg{
            height: 10rem;
            margin-top: $space * 10;
        }
    }
}
